<div>
    <p>
            You are successfully Verified and ready to work with us .</p>

    <p>Your login credentials are :- </p>
    <p>Username :- <strong><%=mailId%></strong></p>
    <p>Password :- <strong><%=password%></strong></p>
    <small>Please donot Share these credentials with any body .</small>
    <small>You may change your password afterwards .</small>
</div>


