<div style="background-color:   #CCCCCC">
  <div class="container footerContainer" >
    <div class="row">
      <div class="col-12">
        <div class="footerTags"> 
          <p><strong>PUMA AT A GLANCE</strong>/ PUMA is one of the world’s leading sports brands, designing, developing, selling and marketing footwear, apparel and accessories. For over 65 years, PUMA has established a history of making fast product designs for the fastest athletes on the planet. PUMA offers performance and sport-inspired lifestyle products in categories such as Football, Cricket, Running, Training & Fitness, Golf, and Motorsports. It engages in exciting collaborations with renowned design brands such as Alexander McQueen and Mihara Yasuhiro to bring innovative and fast designs to the sports world.</p>
    
    
           <p> The official PUMA Online Store offers a large selection of PUMA shoes, clothing, accessories, and equipment.</p>
            
            
          <p>  PUMA’s family of star players in Football includes Sergio Agüero, Cesc Fàbregas, Marco Reus, Radamel Falcao, Olivier Giroud, Mario Balotelli, Luke Hodge, and Jaime Elliot and in women’s football, Brazilian powerhouse Marta, as well as a number of influential national and club teams, including four-time world champion Italy, Austria, Switzerland, Uruguay, Chile, Ghana, Ivory Coast and Cameroon, plus Borussia Dortmund, Newcastle United FC, Arsenal FC (from July 2014), Adelaide Crows and West Coast Eagles. The PUMA Running collection, notable for innovative new product like our FAAS and Mobium shoes, is represented by the fastest man in the world, sprinter Usain Bolt. (‘Nuff said.)</p>
            
            
       <p>In Golf, such game-changing athletes as Rickie Fowler, Lexi Thompson, Graham DeLaet, Greg Norman, and Will MacKenzie represent COBRA PUMA GOLF.</p>
            
            
            <p>PUMA’s sport-inspired lifestyle products include the PUMA Motorsport collection, which features officially licensed gear for example from Ferrari, BMW Motorsport, Mercedes AMG Petronas.</p>
            
            
           <p> PUMA has created famous sneaker styles such as the Suede, El Rey, Roma, Clyde, Mostro, Speed Cat, Basket, Disc Blaze, GV Special and Trinomic range –as well as icons-to-be like our Sport Lite styles and, for women, our oh-so-cool sneaker wedges and ballet flats.</p>
            
            
          <p>The company distributes its products in more than 120 countries, employs more than 10,000 people worldwide, and is headquartered in Herzogenaurach, Germany.</p>
            
            
           <p> Official Online Retailer - Ace Turtle Services Private Limited. © 2019 | All Rights Reserved.
          </p>
    </div>
      </div>
    </div>
  </div>
</div>