<div class="container customerService">
    <div class="row">
        <div class="col-4">
            <h5>CUSTOMER SERVICE</h5>
            <hr>
            <h6>NEED US? CALL US .</h6>
            <h6 class="yourOrder"><a href="tel:18001027862">1800 102 7862</a></h6>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <h5 class="yourOrder">YOUR ORDER</h5>
                    <hr>
                </div>
                <div class="col-12">
                    <h6>Track My Order</h6>
                    <p>Once your order has shipped, you will receive a confirmation email with your tracking number. </p>
                    <p>If your order contained more than one item, keep an eye on your email inbox for additional updates. </p>
                </div>
                <div class="col-12">
                    <h6>Order Changes / Cancellation</h6>
                    <p>As long as the package has not left our warehouse, the order may be cancelled. Cancellations can be carried out by contacting our Customer Service on telephone <strong class="yourOrder"><a href="tel:18001027862">1800 102 7862</a></strong> and email us on <strong class="yourOrder"><a href="mailto:customercareindia@puma.com">customercareindia@puma.com</a></strong>. </p>
                    <p>If the package has already left our warehouse, we won’t be able to cancel the order. </p>
                    <p>Occasionally we may have to cancel an order or product due to processing reasons. If so, you will be notified via email. You will not be charged for cancelled products.</p>
                </div>
            </div>
        </div>
    </div>
</div>